
.min-h-wfa {
  min-height: -webkit-fill-available;
}
.subtab-btn, .btnSubmitToAI, .btnTabHistory {
  cursor: pointer;
}

    .historySidebar {
      min-width: 25%;
    }

    #generateTab {
      max-height: calc(100vh - 210px);
    }


    #responseOutput {
        height: 100% !important;
        /* max-width: calc(var(--frameWidth) - 80px) !important; */
        max-width: 685px;
        margin: 0 auto;
        line-height: 34px;
        white-space: unset !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    #responseOutput > p {
        margin: 0 0 10px;
    }

    #responseOutput table {
      width: fit-content;
      font-size: 0.9em;
      /* width: 100%; */
      border-collapse: collapse;
      margin: 20px 0;
    }

    #responseOutput ol, #responseOutput ul {
        margin: 0;
    }

    #responseOutput pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.5;
        color: #333;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        white-space: normal;
    }

    #responseOutput th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    #responseOutput th {
      background-color: #f2f2f2;
    }

    #responseOutput tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    #responseOutput ol, #responseOutput ul {
        /* line-height: 24px !important; */
        line-height: 28px;
        list-style-type: disc;
        margin-block-end: 14px !important;
        margin-block-start: 0px;
        margin-bottom: 14px !important;
        margin-top: 0px;
        padding-inline-start: 40px;
    }

    #responseOutput ol li,
    #responseOutput ul li {
        display: flow;
        margin: 0.5em;
        padding: 0 0 4px 0;
    }
    .floatInput {
      filter: drop-shadow(-1px 0px 3px #aaa);
      /* background: #efefef; */
      border-radius: 10px;
      /* padding: 8px; */
      cursor: pointer;
      max-height: 92px;
      overflow: auto;

      padding: 9.5px;
      margin: 0 0 10px;
      font-size: 13px;
      line-height: 1.5;
      color: #333;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      /* border-radius: 4px; */
      white-space: normal;
    }
    .floatTab {
      max-width: 15%;
      height: 33px;
      padding: 8px;
      font-size: 1.25em;
      margin: auto 0;
      position: static;
      align-content: center;
      align-self: center;
      text-align: -webkit-center;
      font-size: 0.9em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-radius: 10px 4px 0 0;
      background-image: linear-gradient(to bottom, #fff, #F9FBDE);
      line-height: 20px;
      min-width: 34px;
    }

    #about {
      width: 63px;
      height: 33px;
      padding: 8px;
      font-size: 1.25em;
      margin: auto 8px auto 0;
      position: static;
      align-content: center;
      align-self: center;
      text-align: -webkit-center;
      font-size: 0.9em;
      background: ghostwhite;
    }

    #responseOutput h1, #responseOutput .h1, #responseOutput h2, #responseOutput .h2, #responseOutput h3, #responseOutput .h3 {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #tabList {
      padding: 0 3px;
      display: flex;
      /* gap: 4px; */
      overflow: auto;
    }

